.active {
  position: relative;
}
.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  bottom: -5px;
}

.active:hover::before {
  width: 100%;
}
main{
    background: linear-gradient(45deg, rgba(27,31,34,0.52) 0%, rgba(25,27,30,0.68) 43%, rgba(25,27,30,0.77) 80%, rgba(25,27,30,0.83) 99%),url('https://i.ibb.co/3yNpVvS/bg.jpg') no-repeat ;
    height: 94vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}