::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #475569; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e2e8f0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #334155; 
}